{% extends 'base/main.html'   %}
{%block content%}

<div class="header-bar">
    <h1>Register</h1>
</div>

<div class="card-body">
<form method="post">
    {%csrf_token%}
    <label>{{form.username.label}}</label> <!--this form is from usercreation-->
    {{form.username}}
    <label>{{form.password1.label}}</label> <!--this form is from usercreation-->
    {{form.username}}
    <label>{{form.password2.label}}</label> <!--this form is from usercreation-->
    {{form.username}}
    <input style="margin-top: 10px ;display: block;" class="button" type="submit" value="Register">
 
</form>

<p>Already have an account?   <a href ="{% url 'login' %}">Login</a></p>

</div>

{%endblock content%}